*{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
}

/*@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf"),
}

@font-face {
    font-family: 'Josefin Sans';
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf"),
}

/* Images */


.inspoimg {
    max-width: 20%;
    margin: 2rem;
}

.imglink:hover {
    box-sizing: border-box;
    box-shadow: 0 0.8rem 0.8rem rgb(0, 0, 0, 0.3);
}

.cardimg {
    max-width:100%;
}

#colorsample {
    max-width: 100%;
}

.shader {
    background-color: whitesmoke;
}


/* Text Styling*/

h1 {
    font-size: 1.8em;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

h2 {
    font-family:'Josefin Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
}

h3 {
    font-family:'Josefin Sans', sans-serif;
        font-weight:normal;
        font-style:normal;
}

h4 {
    font-family:'Josefin Sans', sans-serif;
        font-weight:normal;
        font-style:normal;
}

body{
    font-family:'Montserrat', sans-serif;
    font-weight:normal;
    font-style:normal;
}
    
a{
    font-family:'Montserrrat', sans-serif;
    font-weight:normal;
    font-style:normal;
}


p, code, table, form, ol, ul{
    margin-left: 2.4em;
    margin-right: 2.4em;
}

p {
    text-align: left;
    color: #96939B;
}

.centeralign {
    text-align:center;
}

input {
    margin: 1em;
    border-color: #d8d74b;
}

ol {
    padding-left: 40%;
    padding-right: 40%;
}

input:hover {
    background-color:#d8d74b;
}

input{
    margin-bottom: 15px;
    width: 80%;
    padding: 1em;
    border: 1px solid #d8d74b;
    border-radius: 4px;
    text-align:left;
}

.border {
    margin-bottom: 15px;
    width: 80%;
    padding: 1em;
    border: 1px solid #d8d74b;
}

table {
    margin-left: 40%;
    margin-right: 40%;
}

td {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom:5px;
  }


  span.price {
    color: gray;
    float: right;
  }
  
  
/* Links + Buttons */

a {
    text-decoration: none;
    color: #96939B;
}

a:hover {
    color: #d8d74b;
    text-decoration: underline;
}


.add-button {
    border: 2px solid #d8d74b;
    background-color:#d8d74b;
    color: black;/*#D19F74;*/
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 0.75em;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;

    border-radius: 0.3rem;
}

.add-button:hover {
    border: 2px solid #d8d74b;
    color: black;/*#D19F74;*/
    background-color: #fefe33;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 0.75em;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  
    border-radius: 0.3rem;
}




.alt-button {
    border: none;
    background-color: #d8d74b;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.alt-button:hover {
    border: none;
    background-color: #d8d74b;
    color: grey;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

section {
    padding: 2rem;
}

#header {
    height: 95vh;
    background-image: url("../img/2glasses.jpeg");
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-header {
    height: 50vh;
    background-image: url("../img/storefront.jpeg");
    /*https://unsplash.com/photos/CdNvYPwupas*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#support-header {
    height: 45vh;
    background-image: url("../img/customer-service.jpg");
    /*https://unsplash.com/photos/Ox6SW103KtM*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#products-header {
    height: 50vh;
    background-image: url("../img/lemons-limes.jpg");
    /*https://unsplash.com/photos/fDx4zHpnlOM*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#blog-header {
    height: 50vh;
    background-image: url("../img/elevate-nYgy58eb9aw-unsplash.jpg");
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cherry-header {
    height: 50vh;
    background-image: url("../img/cherries.jpg");
    /*https://unsplash.com/photos/3VBmszoRVOg*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#lime-header {
    height: 50vh;
    background-image: url("../img/limes.jpg");
    /*https://unsplash.com/photos/fDx4zHpnlOM*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer {
    font-size: 0.75em;
}

.leftContent {
    float: left;
    padding-right: 1em;
}

.rightContent {
    float:right;
}

.tint {
    background: rgba(0, 0, 0, 0.7);
}

#guideNav {
    /* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    padding-top: 15px;
    width: 100%;
    text-align: center;
}

.card {
    /* https://www.w3schools.com/howto/howto_css_cards.asp*
    box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0, 0.3);
    border-radius: 0.3rem;*/
    margin: 2.4em;
    
    flex-basis: 15em;
    flex-grow: 2;
}

.card:hover {
    /* https://www.w3schools.com/howto/howto_css_cards.asp
    box-shadow: 0 0.8rem 0.8rem rgb(0, 0, 0, 0.3);
    border-radius: 0.3rem;*/
    margin: 2.4em;
    
    flex-basis: 15em;
    flex-grow: 2;
}

.flex-box {
    flex-basis: 15em;
    flex-grow: 2;
}

.text-box{
    flex-basis: 15em;
    flex-grow: 3;
    text-align: left;
    padding: 3em;
}

.colour-layout {
    flex-basis: 15em;
    flex-grow: 2;
    margin-left: 20%;
    margin-right: 15%;
}

.colourbox {
    width: 5em;
    height: 5em;
    margin: 3em;

    flex-basis: 15em;
    flex-grow: 2;

    float: left;
}

#colour1 {
    background: #fefe33;
}

#colour2 {
    background: #922a28;
}

#colour3{
    background: #d8d74b;
}

#colour4{
    background: #f9d348;
}

#colour5{
    background: #94c5fa;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.container{
    padding: 0.2rem 0.16rem;
} 

hr{
    width:90%;
}

.divider{
    width:90%;
}

.spacer {
    width:0%;
}

.form-button:hover{
    color: #CEC2B8;
}
.form-button{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    width:30%;
}

fieldset {
    color: #96939B;
}

.review-input{
    width: 80%;
height:100px;
}

.recommendation{
    width:350px;
}

.move{
    width:300px;
    float:center;
    
}

.guide-nav-item {
    float:right;
    padding:10px
}

.float-left {
    float: left;
}

.float-right {
    float:right;
}

    /*Code for dropdown menu adapted from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
    .nav {
        background-color: white;
        overflow: hidden;
        position: fixed;
        width:100%;
        padding-top: 20px;
        top:0;
      }
      
      /* Style the links inside the navigation bar */
      .nav a {
        display: block;
        color: black;
        text-align: center;
        padding: 3px 16px;
        text-decoration: none;
        font-size: 0.75em;
        font-family: 'Montserrat';
      }
      
      /* Change the color of links on hover */
      .nav a:hover {
        background-color: #fefe33;
        color: black;
      }

      .nav-title {
        border: none;
        font-family: 'Josefin Sans', sans-serif;
        padding: 0.5em;
        text-align: center;
        text-decoration: none;
        display:inline-block;
        font-size: 1.25em;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
        margin-bottom: 0.8rem;
    }

    #title{
        font-size:2em;
        font-family:'Josefin Sans', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
    }

    #title:hover{
        color:#d8d74b;
        background:white;
    }
      
 
      .nav .icon {
        display: none;
      }
      @media screen and (max-width: 600px) {
        .nav a:not(:first-child) {display: none;}
        .nav a.icon {
          float: right;
          display: block;
        }
      }
      
      @media screen and (max-width: 600px) {
        .nav.responsive {position: relative;}
        .nav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .nav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
      }