*{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
}

/* Images */


.inspoimg {
    max-width: 20%;
    margin: 2rem;
}

.imglink:hover {
    box-sizing: border-box;
    box-shadow: 0 0.8rem 0.8rem rgb(0, 0, 0, 0.3);
}

.cardimg {
    max-width:100%;
}

#colorsample {
    max-width: 100%;
}

.shader {
    background-color: whitesmoke;
}


/* Text Styling*/

h1 {
    font-size: 1.8em;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p, code, table, form, ol, ul{
    margin-left: 2.4em;
    margin-right: 2.4em;
}

p {
    text-align: left;
    color: #96939B;
}

.centeralign {
    text-align:center;
}

input {
    margin: 1em;
    border-color: #E5D8BF;
}

ol {
    padding-left: 40%;
    padding-right: 40%;
}

input:hover {
    background-color:#E5D8BF;
}

input{
    margin-bottom: 15px;
    width: 80%;
    padding: 1em;
    border: 1px solid #E5D8BF;
    border-radius: 4px;
    text-align:left;
}

.border {
    margin-bottom: 15px;
    width: 80%;
    padding: 1em;
    border: 1px solid #96939B;
}

table {
    margin-left: 40%;
    margin-right: 40%;
}

td {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom:5px;
  }


  span.price {
    color: gray;
    float: right;
  }
  
  
/* Links + Buttons */

a {
    text-decoration: none;
    color: #96939B;
}

a:hover {
    color: #CEC2B8;
    text-decoration: underline;
}

.nav-button {
    border: none;
    color: black;/*#D19F74;*/
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 0.75em;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    float: right;
}

.nav-button:hover {
    border: none;
    color: black;
    background-color: #fefe33;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 0.75em;
    font-style: italic;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    float: right;
}

.add-button {
    border: none;
    color: black;/*#D19F74;*/
    background-color: lightgray;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 0.75em;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    float: right;
    border-radius: 0.3rem;
}

.add-button:hover {
    border: 1px;
    color: black;/*#D19F74;*/
    background-color: #fefe33;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 0.75em;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    float: right;
    border-radius: 0.3rem;
}

.nav-title {
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;/*#D19F74;*/
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 1.25em;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    float: left;
}

.nav-title:hover {
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fefe33;/*#D19F74;*/
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 1.25em;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    float: left;
}

.nav-sample {
    background: black;
}
.alt-button {
    border: none;
    background-color: #CEC2B8;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.alt-button:hover {
    border: none;
    background-color: #CEC2B8;
    color: grey;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

section {
    padding: 2rem;
}

#header {
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1563227812-0ea4c22e6cc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-header {
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1560105214-ad76e8531c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
    /*https://unsplash.com/photos/CdNvYPwupas*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#support-header {
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1556742049-0cfed4f6a45d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    /*https://unsplash.com/photos/Ox6SW103KtM*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#products-header {
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1579636601263-f97b5e8a57b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
    /*https://unsplash.com/photos/fDx4zHpnlOM*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#blog-header {
    height: 95vh;
    background-image: url(/img/elevate-nYgy58eb9aw-unsplash.jpg);
    /*https://unsplash.com/photos/fDx4zHpnlOM*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cherry-header {
    height: 95vh;
    background-image: url(/img/cherries.jpg);
    /*https://unsplash.com/photos/3VBmszoRVOg*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#lime-header {
    height: 95vh;
    background-image: url(/img/limes.jpg);
    /*https://unsplash.com/photos/fDx4zHpnlOM*/
    background-color: rgba(0, 0, 0, 1);
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    padding-left: 0px;
    width:100%;
    top: 0;
  
    font-size: 2em;
    color: white; /*#DAD2D8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer {
    float: right;
    font-size: 0.5em;
}

.tint {
    background: rgba(0, 0, 0, 0.7);
}

#nav {
    /* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    width: 100%;
    text-align: center;
}

.card {
    /* https://www.w3schools.com/howto/howto_css_cards.asp*/
    box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    margin: 2.4em;
    
    flex-basis: 15em;
    flex-grow: 2;
}

.card:hover {
    /* https://www.w3schools.com/howto/howto_css_cards.asp*/
    box-shadow: 0 0.8rem 0.8rem rgb(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    margin: 2.4em;
    
    flex-basis: 15em;
    flex-grow: 2;
}

.flex-box {
    flex-basis: 15em;
    flex-grow: 2;
}

.text-box{
    flex-basis: 15em;
    flex-grow: 3;
    text-align: left;
    padding: 3em;
}

.colour-layout {
    flex-basis: 15em;
    flex-grow: 2;
    margin-left: 20%;
    margin-right: 15%;
}

.colourbox {
    width: 5em;
    height: 5em;
    margin: 3em;

    flex-basis: 15em;
    flex-grow: 2;

    float: left;
}

#colour1 {
    background: #fefe33;
}

#colour2 {
    background: #922a28;
}

#colour3{
    background: #d8d74b;
}

#colour4{
    background: #f9d348;
}

#colour5{
    background: #94c5fa;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.container{
    padding: 0.2rem 0.16rem;
} 

hr{
    width:90%;
}

.divider{
    width:90%;
}

.spacer {
    width:0%;
}

.form-button:hover{
    color: #CEC2B8;
}
.form-button{
    font-family: 'Raleway', sans-serif;
    text-align:center;
    width:30%;
}

fieldset {
    color: #96939B;
}



.rate {
   margin-left: 10%;
    height: 46px;
    padding: 0 10px 0px 0px;

 
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
 float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
 
outline-color:#CEC2B8;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #E5D8BF;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color:#CEC2B8;  }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #CEC2B8;
}


body{
    margin-top:60px;
}

.review-input{
    width: 80%;
height:100px;
}

.recommendation{
    width:350px;}

    .move{
        width:300px;
        float:center;
    
    }
